* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: lightgreen;
}

.container {
  background: white;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem 1rem;
  box-shadow: 1px 1px 5px gray;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1.25rem 0 0.35rem 0;
  text-indent: 2rem;
}

.desc {
  background: linen;
  text-indent: 4rem;
  padding: 0.5rem 0;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 230px;
}

.view {
  position: relative;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #aaa;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}

ol,
.desc {
  background: linen;
  padding: 0.5rem;
}

li {
  margin: 1rem 0 1rem 4rem;
}
